@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    transition: 0.4s;
}
.left-animation{
    animation: left 1s ease;
}
@keyframes left {
    0%{
        margin-left: 90%;
    }
    100%{
        margin-left: none;
    }
}
.right-animation{
    animation: right 1s ease;
}
.cat-btn:hover{
    letter-spacing: 9px;
}
@keyframes right {
    0%{
        margin-right: 90%;
    }
    100%{
        margin-right: none;
    }
}
.text-animation{
 
    animation: text 0.5s ease;
 
}
@keyframes text {
    0%{
        opacity: 0;
margin-left:100%;
    }

    100%{
        opacity: 1;
        margin-left:0%;

    }
}